{% include "module-header" %}

# Installation

```sh
npm install intermodular
```

# Synopsis

See [Homepage](https://intermodular.ozum.net) for full documentation and API.

```ts
const targetModule = intermodular.targetModule;
const packageJson = targetModule.getDataFileSync("package.json"); // `DataFile` instance

// Copy all config files from `.../your-module/common-config/` to `.../target-module/` (root).
intermodular.copySync("common-config", ".");
targetModule.install("lodash");
targetModule.executeSync("rm", ["-rf", "dist"]);
packageJson.set("description", `My awesome ${targetModule.name}`, { ifNotExists: true });

if (intermodular.targetModule.isTypeScript) {
  intermodular.copySync("config/tsconfig.json", ".");
}
```

# API

{% include "api.md" %}



